.userDetailsHidden {
  display: none;
}

.userDetailsDisplayed {
  margin: auto;
}

.userDetailsDisplayed .ui.reveal > .visible.content {
  width: 100%;
  position: relative !important;
  display: flex;
  justify-content: center;
}

.userDetailsDisplayed .ui.card .content img {
  width: 40%;
  margin: 0.5em;
}

.userDetailsDisplayed .ui.card {
  border-radius: 20px;
  border: solid rgb(49, 49, 108) 1.5px;
}

.userDetailsDisplayed h3 {
  margin: 0;
}

.userDetailsDisplayed .ui.card .meta {
  margin-top: 1em;
  margin-bottom: 1em;
}
