.resultContainer {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.infinite-scroll {
  background-color: aliceblue;
  border: solid aliceblue 1.5px;
  overflow-y: auto;
  height: 85%;
  width: 30em;
}

.resultContainer .card {
  display: flex;
  flex-direction: row;
  margin: 1em 0.5em 1em 0.5em;
  cursor: pointer;
  overflow-x: hidden;
}

.resultContainer .card:hover {
  background-color: aliceblue;
}

.resultContainer .card-img-left {
  width: 4em;
  margin: 0.5em;
}

.resultContainer .card-body {
  display: flex;
  flex-direction: column;
}
