main {
  display: flex;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
}

.filtersContainer select {
  margin: 1em;
  border: red solid;
}

.infinite-scroll {
  overflow-y: auto;
  height: 85vh;
  border: solid red;
}
