main {
  display: flex;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
}

.filtersContainer select {
  margin: 1em;
}

.infinite-scroll {
  overflow-y: auto;
  height: 85vh;
}

.userDetailsHidden {
  display: none;
}
